:root {
    font-size: 16;    
}

ul {
    list-style-type: none;
}


body {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    font-family: 'Fira Code', 'Source Code Pro', 'Consolas', 'Menlo', 'Monaco', 'Courier New', Courier, monospace;
    margin: 0;
}

/* Header bar styling ----------------------------------------------------*/
#header-bar {
  grid-row: 1;
  grid-column: 1/-1;
}

/* Side bar styling -------------------------------------------------------*/
#side-bar {
    grid-row: 2;
    grid-column: 1;
    background-color: #db691d;
}

/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  /* MAIN CONTENT STYLING -------------------------------------------------------------*/
  main {
    grid-row: 2;
    grid-column: 2;
  }